body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.container {
    width: 1000%;
    padding: 0px;
    position: static;
}
h1, h2 {
    text-align: center;
}
.nav-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.nav-buttons button {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
}
.nav-buttons button:hover {
    background-color: #ddd;
}
.content {
    display: flex;
}
.menu {
    width: 30%;
    border: 1px solid black;
    padding: 10px;
}
.menu button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    
    border: 1px solid black;
    cursor: pointer;
    text-align: left;
}
.menu button:hover {
    background-color: #ddd;
}
.output {
    width: 70%;
    padding: 20px;
    border: 1px solid black;
    background-color: #fff;
 
}
/* Стиль для фотографії */
.photo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    overflow: hidden;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}